@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", system-ui, sans-serif;
  --color-primary: #5CB338;
  --color-primary-dark: #4a912d;
  --color-bg-soft: #EDF7E8;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}